<div id="connection-part">
    <div id="connection">
        <h1>CONNEXION</h1>
        <div>
            <button id="connection-button">Se connecter !</button>
            <h1 id="">Connecte-toi a ton compte Microsoft pour lier ton compte Minecraft</h1>
        </div>
        <h1>Comment me connecter ?</h1>
    </div>
</div>

<script src="./js/connection.js"></script>