<div id="connection-part">
    <div id="connection">
        <h1>CONNEXION</h1>
        <div>
            <button id="connection-button">Se connecter !</button>
            <h1 id="">Connecte-toi a ton compte Microsoft pour lier ton compte Minecraft</h1>
        </div>
        <h1>Comment me connecter ?</h1>
    </div>
</div>

<script>

    const button = document.getElementById("connection-button")

    const { MSFT_OPCODE, MSFT_REPLY_TYPE } = require("../assets/js/ipcconstants")
    discord.addEventListener('click', () => {
        ipc.send("social", "discord")
    })

    button.addEventListener("click", () => {
        ipc.send(MSFT_OPCODE.OPEN_LOGIN);
    })

    ipc.on(MSFT_OPCODE.REPLY_LOGIN, (evt, ...data) => {
        if(data[0] !== MSFT_REPLY_TYPE.SUCCESS) return;
        button.innerHTML = "Connexion en cours..."
        AuthManager.addMicrosoftAccount(data[1].code).then(value => {
            button.innerHTML = "Connecté !!"
            document.getElementById("player-name").innerHTML = value.displayName
            document.getElementById("player-skin").src = 'https://mc-heads.net/body/' + value.uuid + '/240'
            switchLauncherView()
        }).catch(result => {
            console.log(result);
        })
    })

    youtube.onclick = () => {
        ipc.send("social", "youtube")
    }

</script>