<div id="frame">
    <div id="bar">
        <div id="options">
            <img id="minus" src="../assets/icons/minus.svg" alt="">
            <img id="cross" src="../assets/icons/cross.svg" alt="">
        </div>
    </div>
    <div id="logo">
        <img src="../assets/icons/logo.png" alt="">
        <nav>
            <ul>
                <li>JOUER</li>
                <li>LAUNCHER</li>
                <li>À PROPOS</li>
            </ul>
        </nav>
    </div>
    <div id="social">
        <div class="box-social" id="discord-social">
            <div class="svg-social" style="background: rgba(99, 102, 241, 0.3);">
                <img src="../assets/icons/discord.svg" alt="">
            </div>
            <div class="text-social">
                <h1>Discord</h1>
                <p>discord.gg/Hyranio</p>
            </div>
        </div>
        <div class="box-social" id="youtube-social">
            <div class="svg-social" style="background: rgba(220, 38, 38, 0.3);">
                <img src="../assets/icons/youtube.svg" alt="">
            </div>
            <div class="text-social">
                <h1>Youtube</h1>
                <p>@hyranio</p>
            </div>
        </div>
    </div>
</div>
<script>

    const ipc = require("electron").ipcRenderer;
    const AuthManager = require("../assets/js/authmanager");
    const ConfigManager = require("../assets/js/configmanager");
    const fs = require("fs");
    const minus = document.getElementById("minus");
    const cross = document.getElementById("cross");
    const discord = document.getElementById("discord-social")
    const youtube = document.getElementById("youtube-social")

    function switchLauncherView() {
        document.getElementById("connection-part").classList.toggle("activatedLauncher")
        document.body.classList.toggle("activatedLauncher")
        document.getElementById("launcher").classList.toggle("activatedLauncher")
    }

    function switchPlayView(element) {
        element.classList.toggle("activatedPlay")
        document.getElementById("launcher-option").classList.toggle("activatedPlay")
    }

    minus.onclick = () => {
        ipc.send("minus")
    }

    cross.onclick = () => {
        ipc.send("quit")
    }


</script>