<div id="launcher">
    <div id="launcher-option">
        <h1>LES LAUNCHERS</h1>
        <div class="box-social" id="hyranio-option">
            <div class="svg-social">
                <img src="./asset/icons/hyranio.png" alt="">
            </div>
            <div class="text-social">
                <h1>Hyranio</h1>
                <p>SMP 1.20</p>
            </div>
        </div>
        <div class="box-social" id="youtube-social">
            <div class="svg-social">
                <img src="./asset/icons/minecraft.png" alt="">
            </div>
            <div class="text-social">
                <h1>Minecraft</h1>
                <p>Dernière Version</p>
            </div>
        </div>
        <div class="box-social" id="youtube-social">
            <div class="svg-social">
                <img src="./asset/icons/minigames.png" alt="">
            </div>
            <div class="text-social">
                <h1>Mini-Games</h1>
                <p>Dernière Version</p>
            </div>
        </div>
    </div>
    <div id="player">
        <h1>YelloX605</h1>
        <img src="./asset/icons/testplayer.png" alt="">
    </div>
    <div id="settings" class="box-social">
        <div class="svg-social">
            <img src="./asset/icons/settings.png" alt="">
        </div>
        <div class="text-social">
            <h1>Réglages</h1>
            <p>Settings</p>
        </div>
    </div>
</div>