<div id="launcher">
    <div id="launcher-option">
        <h1>LES LAUNCHERS</h1>
        <div class="box-social" server="Crew-1.20.1">
            <div class="svg-social">
                <img src="../assets/icons/hyranio.png" alt="">
            </div>
            <div class="text-social">
                <h1>Zigoto !</h1>
                <p>Notre serveur à nous</p>
            </div>
        </div>
    </div>
    <div id="player">
        <h1 id="player-name">PlayerName</h1>
        <img id="player-skin" alt="">
    </div>
    <div id="settings" class="box-social">
        <div class="svg-social">
            <img src="../assets/icons/settings.png" alt="">
        </div>
        <div class="text-social">
            <h1>Réglages</h1>
            <p>Settings</p>
        </div>
    </div>
    <div id="deconnexion" class="box-social">
        <div class="text-social">
            <h1>Déconnexion</h1>
            <p>Settings</p>
        </div>
    </div>
    <label id="progress-label" for="progress">Téléchargement</label>
    <progress id="progess" max="100" value="0">100%</progress>
</div>

<script src="./js/launcher.js"></script>