<div id="play">
    <div class="box-social">
        <div class="svg-social">
            <img src="../assets/icons/hyranio.png" alt="">
        </div>
        <div class="text-social">
            <h1>Hyranio</h1>
            <p>SMP 1.20</p>
        </div>
    </div>
</div>